/*@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');*/

body{
	margin: 0;
	background: #eee;
	font-family: 'Montserrat',sans-serif;
}

a {
	text-decoration: none;
}

.top{
	position: fixed;
	width: 100%;
	height:75px ;
	background: #fff;
	border-top:#0984e3 4px solid;
}

.logo{
	height: 25px;
	display: block;
	margin-top: 25px;
	margin-left: 5%;
	float: left;
}

.container{
	font-family: 'Montserrat', sans-serif;
	color: #0984e3;
	font-size: 0.9em;
	text-transform: uppercase;
	display: flex;
	float: right;
	line-height: 75px;
	margin-right: 5%;
}

.container a{
	font-family: 'Montserrat', sans-serif;
	color: #0984e3;
	font-size: 0.9em;
	text-transform: uppercase;
	/*line-height: 75px;*/
	/*margin-right: 5%;*/
}

.container a{
	cursor: pointer;
	padding:0 20px ;
	/*box-shadow: 0 0 0 0 #0984e3 inset;*/
	background: none;
	transition: all 0.3s ease;
}

.container a:hover {
	/*box-shadow: 0 75px 0 0 #0984e3 inset;*/
	background: #0984e3;
	color: #fff;
}
	
.ham{
	width:35px ;
	height: 45px;
	display: flex;
	justify-content: space-around;	
	position: absolute;
	margin-top: 1%;
	right: 10%;
	display: none;
	cursor: pointer;
	z-index: 10;
	transform: rotate(90deg);
}

.hamlines{
	width:5px;
	height: 80%;
	background: #0984e3;
	margin: 0;
	/*border-radius:15px ;*/
	transition: all 0.5s ease;
}

.sidenav {
	background: #333;
	height: 100%;
	width: 300px;
	position: fixed;
	top: 0;
	/*display: none;*/
	right: -300px;
	transition: all 0.5s ease;
	z-index: 2;

}

.sidenav a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	/*color: #0984e3;*/
	font-size: 0.9em;
	/*padding: 20em;*/
/*	padding-top: 20px;
	padding-bottom: 20px;*/
	padding: 5px;
	padding-top: 20px;
	display: block;
	padding-bottom: 20px;
	text-transform: uppercase;
	/*display: flex;*/
	/*float: right;*/
	/*line-height: 75px;*/
	/*margin-right: 5%;*/
}

.overlay {
	width:100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	top: 0;
	left: 0;
	transition: all 0.5s ease;
	z-index: -1;
}

.little-space {
	padding-bottom: 50%;
}

.msg {
	margin-top: 7%;
	background: #c0392b;
	width: 20%;
	padding: 1.4em;
	border-radius: 2px;
	color: #fff;
	font-weight: 300;
}

.msg-right {
	margin-top: 7%;
	background: #0984e3;
	width: 20%;
	padding: 1.4em;
	border-radius: 2px;
	color: #fff;
	font-weight: 300;
}

/*.login {
	margin-top: 15%;
}*/

.loginf h1 {
	font-size: 3em;
	font-weight: 300;
	color: #0984e3;
}

input {
	border-radius: 0;
}

button {
	-webkit-appearance: none;
	border-radius: 0;
}

input[type="text"],input[type="number"],input[type="file"],input[type="password"] {
	border: none;
	border-bottom: 2px solid rgba(136,136,136,0.6);
	width: 300px;
	outline: none;
	font-size: 18px;
	background: none;
	padding: 15px;
	padding-left: 0;
	font-weight: 300;
	-webkit-appearance: none;
	margin-top: 2%;
	transition: all .4s ease;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus {
	border-bottom: 2px solid rgba(136,136,136,1);
	-webkit-appearance: none;
	transition: all .4s ease;
}

input[type="password"] {
	border: none;
	border-bottom: 2px solid rgba(136,136,136,0.6);
	width: 300px;
	background: none;
	-webkit-appearance: none;
	outline: none;
	font-size: 18px;
	padding: 15px;
	padding-left: 0;
	font-weight: 300;
	transition: all .4s ease;
}

label {
	color: #222;
	font-size: 18px;
	margin-top: 20px;
}

.g-recaptcha,.subBtn {
	background: #0984e3;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	color: #fff;
	padding: 20px;
	width: 320px;
	margin-top: 20px;
	outline: none;
	transition: all .4s ease;
}

.clear {
	clear: both;
}

.g-recaptcha:hover,.subBtn:hover {
   background: #0873c4;
   transition: all .4s ease;
}

.heading {
	font-size: 3em;
	font-weight: 300;
	margin-top: 5%;
	color: #0984e3;
}

.rules {
	width: 50%;
}

.all-rules {
	text-align: justify;
}

.rule {
	font-size: 1em;
	padding: 0.3em;
	font-family: 100;
}

.rule b {
	font-weight: 400;
}


#hor-zebra
{
	font-size: 12px;
	margin: 45px;
	width: 600px;
	text-align: center;
	border-collapse: collapse;
}
#hor-zebra th
{
	font-size: 14px;
	font-weight: 300;
	padding: 20px;
	background: #0984e3;
	color: rgba(255,255,255,0.8);
}
#hor-zebra td
{
	padding: 20px;
}

#hor-zebra tr:nth-child(odd) 
{
	background: #fff;
	color: #666;
}


.dabba {
	background: #fff;
	width: 90%;
	border-radius: 3px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid rgba(221,221,221,0.6);
}

.dabba-heading {
	font-size: 60px;
	font-weight: 100;
}

.school {
  float: left;
  margin-left: 20px;
}

.score {
	float: right;
	margin-top: 18px;
	margin-right: 15px;
}

.expand {
	float: right;
	margin-top: 8px;
	margin-right: 20px;
	cursor: pointer;
	padding: 10px;
	border-radius: 50%;
	padding-right: 15px;
	padding-left: 15px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}


.clear {
	clear: both;
}

#arrow {
	transition: all .2s ease;
}

.expanded {
	background: #ccc;
	width: 85%;
	height: 0; /* 14 em */
	transition: all .4s ease;
	overflow:hidden;
	/*border: 1px solid rgba(221,221,221,0.6);*/
}


 /* Responsive Leaderboard */

/*
table {
  width: 60%;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
}
table td {
  padding: 20px;
  padding-right: 2px;
  padding-left: 2px;
}
table th {
	font-size: 1em;
	font-weight: normal;
	padding: 10px 8px;
	color: rgba(0,0,0,0.2);
}
table tr:nth-of-type(odd) td {
  background-color: #fff;
  color: #444;
}
table .total th {
  background-color: white;
}
table .total td {
  text-align: right;
  font-weight: 700;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 760px) {

  table tr td:not(:first-child), table tr th:not(:first-child){
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: #d9f4f2;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    position: relative;
    z-index: -1;
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    position: relative;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
  table tr.total th {
    width: 25%;
    display: inline-block;
  }
  table tr td.total-val {
    display: inline-block;
    transform: translateY(0);
    width: 75%;
  }
}
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}
*/

.responsive-lead {
	display: none;
}

.expanded .repsonsive-table {
	border-collapse: collapse;
	height: 0;
	padding: 15px;
}

.expanded .responsive-table th {
	font-weight: 400;
	text-align: left;
	/*padding-right: 2em;*/
	/*border-right: 1px solid #888;*/
}

.expanded .responsive-table td {
	font-weight: 300;
	text-align: left;
	padding: 1em;
	/*padding-left: 2em;*/
}

.contact-links a {
	padding: 0.5em;
	margin-top: 3%;
	font-size: 1.5em;
	transition: all .4s ease;
	display: inline-block;
	color: rgba(22, 160, 133,0.4);
}

.contact-links a:hover {
	transition: all .4s ease;
	color: rgba(22, 160, 133,0.9);
}

.social {
	padding: 1em;
}

.social .soc {
  display: none;
  padding: 20px;
  cursor: pointer;
  color: #333;
  font-size: 40px;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 8%;
  border: 4px solid #333;
  transition: all .2s ease;
}

#soc1 {
  padding-right: 33px;
  padding-left: 33px;
}

#soc3 {
  padding-right: 25px;
  padding-left: 25px;
}

.common-table {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
 }

 .common-table th {
 	font-weight: 400;
 }

 .common-table td {
 	font-weight: 300;
 }

 .add-new {
 	display: inline-block;
 	position: absolute;
 	right: 35%;
 	top: 47%;
 	font-size: 3em;
 	cursor: pointer;
 }

 .admin-links {
 	display: block;
 }

 .admin-links a {
 	color: #fff;
 	display: block;
 	width: 200px;
 	margin: 10px;
 	background: #0984e3;
 	padding: 20px;
 }

.pure-checkbox input[type="checkbox"],
.pure-radiobutton input[type="checkbox"],
.pure-checkbox input[type="radio"],
.pure-radiobutton input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pure-checkbox input[type="checkbox"]:focus + label:before,
.pure-radiobutton input[type="checkbox"]:focus + label:before,
.pure-checkbox input[type="radio"]:focus + label:before,
.pure-radiobutton input[type="radio"]:focus + label:before,
.pure-checkbox input[type="checkbox"]:hover + label:before,
.pure-radiobutton input[type="checkbox"]:hover + label:before,
.pure-checkbox input[type="radio"]:hover + label:before,
.pure-radiobutton input[type="radio"]:hover + label:before {
  border-color: #4f8196;
  background-color: #f2f2f2;
}
.pure-checkbox input[type="checkbox"]:active + label:before,
.pure-radiobutton input[type="checkbox"]:active + label:before,
.pure-checkbox input[type="radio"]:active + label:before,
.pure-radiobutton input[type="radio"]:active + label:before {
  transition-duration: 0s;
}
.pure-checkbox input[type="checkbox"] + label,
.pure-radiobutton input[type="checkbox"] + label,
.pure-checkbox input[type="radio"] + label,
.pure-radiobutton input[type="radio"] + label {
  position: relative;
  padding-left: 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}
.pure-checkbox input[type="checkbox"] + label:before,
.pure-radiobutton input[type="checkbox"] + label:before,
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before {
  box-sizing: content-box;
  content: '';
  color: #4f8196;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #4f8196;
  text-align: center;
  transition: all 0.4s ease;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #4f8196;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}
.pure-checkbox input[type="checkbox"]:disabled + label:before,
.pure-radiobutton input[type="checkbox"]:disabled + label:before,
.pure-checkbox input[type="radio"]:disabled + label:before,
.pure-radiobutton input[type="radio"]:disabled + label:before {
  border-color: #cccccc;
}
.pure-checkbox input[type="checkbox"]:disabled:focus + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:focus + label:before,
.pure-checkbox input[type="radio"]:disabled:focus + label:before,
.pure-radiobutton input[type="radio"]:disabled:focus + label:before,
.pure-checkbox input[type="checkbox"]:disabled:hover + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:hover + label:before,
.pure-checkbox input[type="radio"]:disabled:hover + label:before,
.pure-radiobutton input[type="radio"]:disabled:hover + label:before {
  background-color: inherit;
}
.pure-checkbox input[type="checkbox"]:disabled:checked + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:checked + label:before,
.pure-checkbox input[type="radio"]:disabled:checked + label:before,
.pure-radiobutton input[type="radio"]:disabled:checked + label:before {
  background-color: #cccccc;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}
.pure-checkbox input[type="radio"]:checked + label:before,
.pure-radiobutton input[type="radio"]:checked + label:before {
  animation: borderscale 300ms ease-in;
  background-color: white;
}
.pure-checkbox input[type="radio"]:checked + label:after,
.pure-radiobutton input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  border-radius: 50%;
}
.pure-checkbox input[type="checkbox"]:checked + label:before,
.pure-radiobutton input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  background: #4f8196;
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg) scale(1);
}
@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #4f8196;
  }
}

ul.input-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.input-list li {
  margin: 10px 0 ;
  padding: 0;
}

@media(max-width: 736px){
	.ham{
		display: flex;
		top:10px;
	}

	#hor-zebra {
		display: none;
	}

	.responsive-lead {
		display: block;
	}

	.container {
		display: none;
	}

	.loginf {
		margin-top: 25%;
	}

	.heading {
		margin-top: 18%;
	}

	.rules {
		width: 90%;
	}

	.sub-text {
		width: 80%;
		text-align: justify;
	}

	.contact-links {
		display: none;
	}

	.social .soc {
		display: inline-block;
	}


}

